<div class="container row mt-5">
    <div class="col-12 text-center text-black">
        <h2 class="text-center">
            Oops!!! Transaction Canceled.
            <br />
            <br />
            <img src="~/imgs/Wrong.png" alt="failed order" width="25%" />
        </h2>
    </div>
    <h3 class="col-12 text-center text-black">
        <br />
        Thank you for shopping with us, Please visit us again.
    </h3>
</div>