<div class="container row mt-5">
    <div class="col-12 text-center text-black">
        <h2 class="text-center">
            Order has been paid successfully.
            <br />
            <br />
            <img src="~/imgs/Success.jpg" alt="succeed order" width="25%" />
        </h2>
    </div>
    <h3 class="col-12 text-center text-black">
        <br />
        Thank you for shopping with us, Please visit us again.
    </h3>
</div>