@model Laptop
@{
    ViewData["Title"] = "Delete Laptop";
}
<form method="post">
    <div class="window" style="background-color:#E6E6FA;padding:20px;">
        <p3>Are you sure you want to delete this Item</p3>
        <div class="buttons" style="padding-top:10px;">
            <button type="submit" class="btn btn-primary">Okay</button>
            <a asp-controller="Laptops" asp-action="Index" class="btn btn-secondary">
                Back to Laptops
            </a>
        </div>
    </div>
</form>