@model IEnumerable<IdentityRole>

@{
    ViewData["Title"] = "Roles";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}

<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-dark">Roles</h2>
        </div>
        <partial name="_RoleForm" model="new RoleFormViewModel()" />
    </div>

    <table class="table table-bordered table-striped mt-3">
        <thead class="table-dark">
            <tr>
                <th>Name</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td scope="row">
                        @item.Name
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>