@{
    ViewData["Title"] = "Offers Index";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}

<div class="mt-5 d-flex justify-content-evenly">
    <a asp-action="Offers" class="text-decoration-none"><div class="btn-lg btn-primary">Offers List</div></a>
    <a asp-action="CreateOffer" class="text-decoration-none"><div class="btn-lg btn-success">Create Offer</div></a>
</div>