@model AirConditioner
@{
    ViewData["Title"] = "Add AirConditioner";
}
<form method="post" enctype="multipart/form-data">
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-black">Add New AirConditioner</h2>
            <hr />
        </div>
        <div class="mb-3">
            <label asp-for="Name"></label>
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Price"></label>
            <input asp-for="Price" class="form-control" />
            <span asp-validation-for="Price" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Amount"></label>
            <input asp-for="Amount" class="form-control" />
            <span asp-validation-for="Amount" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Capacity"></label>
            <input asp-for="Capacity" class="form-control" />
            <span asp-validation-for="Capacity" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="CoolingPower"></label>
            <input asp-for="CoolingPower" class="form-control" />
            <span asp-validation-for="CoolingPower" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="NoiseLevel"></label>
            <input asp-for="NoiseLevel" class="form-control" />
            <span asp-validation-for="NoiseLevel" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Voltage"></label>
            <input asp-for="Voltage" class="form-control" />
            <span asp-validation-for="Voltage" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="ItemDimensions"></label>
            <input asp-for="ItemDimensions" class="form-control" />
            <span asp-validation-for="ItemDimensions" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Color"></label>
            <input asp-for="Color" class="form-control" />
            <span asp-validation-for="Color" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="SpecialFeatures"></label>
            <input asp-for="SpecialFeatures" class="form-control" />
            <span asp-validation-for="SpecialFeatures" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="CategoryId"></label>
            <select asp-for="CategoryId" class="form-select" asp-items="@ViewBag.categoriesViewBag"></select>
            <span asp-validation-for="CategoryId"></span>
        </div>
        <div class="mb-3">
            <label asp-for="clientFile"></label>
            <input type="file" asp-for="clientFile" class="form-control" />
            <span asp-validation-for="clientFile" class="text-danger"></span>
        </div>
        <button type="submit" class="btn bg-gold">Save</button>
        <a asp-action="IndexAdmin" asp-controller="AirConditioners" class="btn btn-dark">
            Back to AirConditioners
        </a>
    </div>
</form>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}