@model IEnumerable<Department>
@{
    ViewData["Title"] = "Departments";
}

<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-black">Departments</h2>
        </div>
        <div class="col-6 text-end">
            <a asp-controller="Departments" asp-action="Add" class="btn bg-gold">
                Add New
            </a>
        </div>
    </div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">
                    Name
                </th>
                <th scope="col">
                    Actions
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr class="table-light">
                    <td scope="row">
                        @item.Name
                    </td>
                    <td>
                        <a asp-controller="Departments" asp-action="Update" asp-route-id="@item.ID" class="btn btn-sm btn-success">
                            <i class="bi bi-pencil"></i>
                        </a>
                        <a asp-controller="Departments" asp-action="Delete" asp-route-id="@item.ID" class="btn btn-sm btn-danger">
                            <i class="bi bi-trash3"></i>
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>