@model MobilePhone
@{
    ViewData["Title"] = "Delete MobilePhone";
}
<form method="post">
    <div class="card" style="margin-top:25px; padding:20px;">
        <h4>Are you sure you want to delete this mobilePhone</h4>
        <div class="buttons" style="padding-top:10px;">
            <button type="submit" class="text-white btn bg-danger">Okay</button>
            <a asp-controller="MobilePhones" asp-action="IndexAdmin" class="btn btn-dark">
                Back to MobilePhones
            </a>
        </div>
    </div>
</form>